@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 80vw;
  height: 100vh;
  margin: auto;
  font-family: 'Atma', system-ui;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.main {
  background-color: rgb(236, 236, 236);
}
/* aqui comeca a timeline */

.form-section {
  max-width: 600px;
  margin: 0 auto 60px;
  background: #1e293b;
  padding: 20px;
  border-radius: 8px;
}

.form-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}

button {
  padding: 12px;
  background: #2563eb;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

button:hover {
  background: #1d4ed8;
}


footer {
  margin: auto;
}
